* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body,html,#root 
{
    background-color:#F0F2F6;
    color: black;
    height: 100%;
    width: 100%;
}

html{
    font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.create-post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.create-post-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.create-post-section form input, .create-post-section form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.create-post-section form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.create-post-section form button:hover {
    background-color: #0056b3;
}

.create-post-section h1 {
    margin-bottom: 20px;
}
.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 90vw;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}
.feed h1{
    text-align: center;
    margin: 20px 0;
}

@media (min-width: 780px) {

    .feed .posts{
        display: flex;
        flex-direction: row;    
        width: 100vw;
        gap: 10px;
        flex-wrap: nowrap;
        margin: 0 0;
        
    }
    .post{
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
    }
}
